@charset "utf-8";

.top {
    background-color: rgb(233, 223, 209);
}

.headerArea {
    width: 100%;
    height: 150px;
    display: flex;
}

.headerIcon {
    width: 30%;
    height: 150px;
    margin: 20px 40px;
    padding-top: 40px;
}

.headerIcon h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    letter-spacing: 6px;
}

h2 {
    text-align: center;
    font-family: monospace;
    font-weight: 70;
    margin: 0;
}

.headerMenu {
    width: 470px;
    height: 150px;
    margin: 20px 0 20px 40px;
    padding-top: 40px;
}

.menuTop {
    list-style-type: none;
    padding: 0;
    font-family: serif;
    font-weight: 600;
}

.menuTop li {
    display: inline;
    margin-right: 12px;
}

.main {
    width: 100%;
    height: 1100px;
    margin-top: 20px;
    background-color: rgba(207, 249, 228, 0.286);
}

.photoArea {
    width: 100%;
    height: 450px;
    display: flex;
}

.photoArea img {
    width: 40%;
    height: 450px;
}

.facePhoto {
    width: 80%;
    height: 450px;
}

.facePhoto img {
    width: 200PX;
    height: 190px;
    position: relative;
    left: 340px;
}

.facePhoto h1 {
    width: 790px;
    position: relative;
    left: 45px;
    font-family: serif;
    font-weight: 1000;
    font-size: 35px;
    letter-spacing: 8px;
}

.facePhoto p {
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    position: relative;
    left: 55px;
    line-height: 2;
    margin-top: 40px;
}

.photoArea2 {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;
}

.photoArea2 img {
    width: 50%;
    height: 450px;
    position: relative;
    right: 60px;
}

.facePhoto2 img {
    width: 200PX;
    height: 190px;
    position: relative;
    left: 240px;
}

.facePhoto2 h1 {
    font-family: serif;
    position: relative;
    left: 80px;
    font-weight: 1000;
    letter-spacing: 4px;
}

.facePhoto2 p {
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    position: relative;
    left: 70px;
    letter-spacing: 1.5px;
    line-height: 2;
    margin-top: 40px;
}

.recomend {
    width: 100%;
    height: 600px;
    background-color: rgb(208, 240, 227);
}

.recomendArea {
    width: 85%;
    height: 250px;
    margin-top: 50px;
    position: relative;
    top: 50px;
    left: 40px;
    display: flex;
}

.recomendArea img {
    width: 350px;
    height: 250px;
    margin: 10px 60px;
}

.recomendText {
    width: 80%;
    height: 80px;
    margin: 30px 95px;
    position: relative;
    display: flex;
    top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.recomendText h1 {
    width: 33%;
    margin: 20px 50px;
}

.subText {
    width: 80%;
    height: 30px;
    margin: 20px 95px;
    position: relative;
    display: flex;
}

.subText p {
    width: 33%;
    height: 20px;
    margin: 0 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
